
module my-snapd 1.0;

require {
	type snappy_t;
	type samba_share_t;
	class dir { getattr open read };
}

#============= snappy_t ==============
allow snappy_t samba_share_t:dir { getattr open read };
